<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="card bg-glass card-size">
            <div class="card-body px-4 py-5 px-md-5">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <label class="form-label forget" for="form3Example10" >Forgot Password</label>
                    <label class="form-label required text-danger" for="form3Example10" >required</label>
                    <input type="email" id="form3Example1" class="form-control" required/>
                      
                    </div>
                  </div>
                </div>
               
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 btn-center" routerLink="/reset-password">
                  Forgot Password
                </button>
  
              </form>
            </div>
          </div> 
     </div>
</section>