<section class="">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg nav-color">
    <!-- Container wrapper -->
    <div class="container">
    
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
 
       
        <!--content-->
        <div class="custom-h1 ">
            <div class="text-center">
                <h1 class="nowrap">Welocme To our Blog</h1>
                <p class="paragraph">A blog web app simplifies content creation, SEO optimization, and engagement, providing readers with informative articles while tracking analytics.</p>
            </div>
        </div>
        <br>
        
         <!-- Left links -->
        <div class="d-flex align-items-center left-links">
          <button type="button" class="btn btn-link px-3 me-2 btn-login" routerLink="/login">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3 signup" routerLink="signup" >
            Sign up for free
          </button>
          <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</section>