.btn-login{
    text-decoration: none;
    color: aliceblue;
}
  .nav-color{
    background-color: hsl(218, 41%, 15%); 
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);;
  }

  .nav-items  a{
    color: aliceblue;
    align-content: center;
    margin-bottom: 300px;
  }

.left-links{
    display: none;
    margin-bottom: 300px;
    
    
}

.nav-color{
    height: 350px;
}

.navbar-nav li.nav-item {
    margin-left: 30px; /* Adjust the value as needed */
}

.custom-h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nowrap {
    white-space: nowrap;
    
}

.signup{
    width: 150px;
}
.paragraph{
    text-align: justify;
}